nav {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.contact-btn {
    display:  flex;
    place-content: center;
    width: 180px;
    height: 40px;
    padding: 8px;
    overflow-y: hidden;
}

.contact-btn> span {
    position: absolute;
    margin: auto;
    display: block;
}

.contact-btn > span:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    transition: 300ms;
}
.contact-btn > span:nth-child(2) {
    opacity: 0;
    transform: translateY(35px);
    transition: 300ms;
}

.contact-btn:hover > span:nth-child(1) {
    opacity: 0;
    transform: translateY(-35px);
}
.contact-btn:hover > span:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
}
