:root {
    --color-darkest: rgb(19,19,19);
    --color-white: rgb(250,252,255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 0;
}

html, body {
    background-color: black;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #b1b1b1 #272727;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--color-white);
}

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}